
.header {
    height: 56px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    background-color: #f7f7f7;
    top: 0;
    left: 0;
    right: 0; 
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(222, 222, 222);
    z-index: 999px;
}

.left-side {
    display: flex;
    justify-content: center;
}

.middle {
    flex: 1;
    margin-left: 70px;
    margin-right: 35px;
    max-width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 0;
}

.right-side {
    display: flex;
    width: 200px;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
}

.nav-bar {
    width: 24px;
    margin-right: 25px;
    margin-left: 24px;
}

.logo {
    width: 90px;
}

.search-bar {
    width: 100%;
    height: 38px;
    padding-left: 12px;
    border-radius: 3px 0px 0px 3px;
    border-width: 0.90566px;
    border-style: solid;
    border-color: rgb(204, 204, 204);
    box-shadow: inset 1px 1px 1px rgb(0, 0, 0, 0.01);
    display: flex;
}

.search-bar::placeholder {
    color: rgb(140, 136, 136);
    font-size: 15.9px;
}

.search-icon {
    height: 42px;
    border-color: rgb(204, 204, 204);
    box-shadow: inset 1px 1px 1px rgb(0, 0, 0, 0.01);
    border-radius: 0px 3px 3px 0px;
    border-width: 0.90566px;
    border-style: solid;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    align-items: center;
    margin-left: -1px;
    min-width: 65px;
    max-width: 65px;
    margin-right: 9px;
    background-color: #f7f7f7;
    position: relative;
}

.voice-button {
    border-style: none;
    border-radius: 30px;
    height: 42px;
    width: 60px;
    background-color: #f0efef;
    position: relative;
}

.voice-search-icon{
    border-color: rgb(204, 204, 204);
    width: 26px;
}

.upload-icon, 
.youtube-apps-icon,
.notification-icon {
    width: 24px; 
    position: relative;
}

.my-channel-icon {
    width: 32px;
    border-radius: 50%;
    margin-right: 20px;
}

.notification {
    position: relative;
}

.notification-count {
    position: absolute;
    top: -2px;
    right: -6px;
    font-size: 11px;
    font-family: Roboto, Arial;
    background-color: rgb(214, 5, 5);
    border-radius: 50px;
    color: white;
    font-weight: 500px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 1px;
    padding-bottom: 1px;
}

.search-icon,
.voice-button {
    display: flex;
    justify-content: center;
    align-items: center;
}
.tooltip {
    background-color: rgba(107, 105, 105, 0.9);
    font-family: Roboto, Arial;
    font-size: 11px;
    border-radius: 3px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-weight: 300;
    color: white;
    bottom: -40px;
    opacity: 0;
    pointer-events: none;
    position: absolute;
}

.search-icon:hover .tooltip {
    opacity: 100%;
}

.voice-button:hover .tooltip {
    opacity: 100%;
    width: 130px;
}

@media screen and (max-width: 510px) {
    .upload-icon,
    .youtube-apps-icon {
        display: none;
    }
}

@media screen and (max-width: 510px) {
    .notification {
        padding-left: 100px;
    }
}

